In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

# generate a data of players from the hall of fame member

In [2]:
url = 'https://en.hispanosnba.com/players/hall-of-fame/index'

In [3]:
requ = requests.get(url)
soup = BeautifulSoup(requ.content , 'html.parser')

In [4]:
#get the url of players
table = soup.find('tbody')
url_start = 'https://en.hispanosnba.com'
find_a = table.find_all('a')

url_pls=[]
for th in find_a:
    th = str(th)
    th = th.split('"')
    url_pls = url_pls +[url_start+th[1]+'/stats']
#now url_pls contain all the url of players

In [5]:
#get the players name
player_name = []
for th in find_a:
    th = str(th)
    th = th.split('"')
    player_name = player_name + [th[3]]
#player name contain now the names of all the players

In [6]:
#get tea stats of the players
player_stats=[]
for url in url_pls:
    url_a = url
    requ_a = requests.get(url_a)
    soup_a =  BeautifulSoup(requ_a.content , 'html.parser')
    total_table = soup_a.find('tfoot')
    tr = total_table.find('tr')
    tds = tr.find('td')
    tds = str(tds)
    tds = tds.split('<td>')
    tds[14] = tds[14][8:-9]
    tds[15] = tds[15][:-75]
    player_stats = player_stats + [tds]
#player_stats contain now the stat of all the players

In [7]:
#generate a empty table
d = {'PLAYER_NAME':[] , 'TEAM':[] , 'GP':[] , 'GS':[] , 'MIN':[] , 'FG':[] , '3P':[] , 'FT':[] ,
     'REB':[] ,'AST':[] , 'STL':[] , 'TO':[] , 'BLK':[] , 'PF':[] , 'PTS':[] , 'EFF':[]}
df = pd.DataFrame(columns = d)


# 1) generate a small table with just one player for every player
# 2) using pd.concat for add the small table to the data frame
i = 0
for stats in player_stats:
    data = {'PLAYER_NAME':[stats[0]], 'TEAM':[stats[1]], 'GP':[stats[2]], 'GS':[stats[3]], 'MIN':[stats[4]], 
            'FG':[stats[5]], '3P':[stats[6]], 'FT':[stats[7]], 'REB':[stats[8]], 'AST':[stats[9]], 'STL':[stats[10]], 
            'TO':[stats[11]], 'BLK':[stats[12]], 'PF':[stats[13]], 'PTS':[stats[14]], 'EFF':[stats[15]]}
    player_row = pd.DataFrame(data , index = [i])
    i = i+1
    df = pd.concat([df , player_row])

In [8]:
#add the players name to the data frame
df['PLAYER_NAME'] = player_name

#set the index to "player_name"
df.set_index('PLAYER_NAME', inplace=True)

#add "hall of fame" column to the data frame
df["H.O.F"] = 1

# data frame of all-of-hame member players

In [455]:
df

,TEAM,GP,GS,MIN,FG,3P,FT,REB,AST,STL,TO,BLK,PF,PTS,EFF,H.O.F
PLAYER_NAME,,,,,,,,,,,,,,,,
Kareem Abdul-Jabbar,,1560,625,36.8,55.9,5.6,72.1,11.2,3.6,0.9,2.7,2.6,3.0,24.6,30.9,1
Ray Allen,,1300,1149,35.6,45.2,40.0,89.4,4.1,3.4,1.1,2.1,0.2,2.2,18.9,17.1,1
Nate Archibald,,876,268,35.6,46.7,22.4,81.0,2.3,7.4,1.1,2.7,0.1,2.3,18.8,19.2,1
Paul Arizin,,713,0,38.4,42.1,--,81.0,8.6,2.3,--,--,--,3.9,22.8,21.3,1
Al Attles,,711,0,25.1,45.1,--,63.2,3.5,3.5,--,--,--,3.4,8.9,10.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lenny Wilkens,,1077,0,35.3,43.2,--,77.4,4.7,6.7,1.3,--,0.2,3.1,16.5,19.0,1
Jamaal Wilkes,,828,245,32.9,49.9,13.5,75.9,6.2,2.5,1.3,2.1,0.3,2.8,17.7,18.1,1
Dominique Wilkins,,1074,995,35.5,46.1,31.9,81.1,6.7,2.5,1.3,2.5,0.6,1.9,24.8,21.3,1
James Worthy,,926,717,32.4,52.1,24.1,76.9,5.1,3.0,1.1,2.0,0.7,2.1,17.6,17.9,1
George Yardley,,472,0,33.4,42.2,--,78.0,8.9,1.7,--,--,--,3.0,19.2,19.0,1

# generate a data of players that not considerd as a Hall of Fame member

In [416]:
#generate urls for the url to the stats of the players
abc = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t', 'u' , 'v' , 'w' , 'y' , 'z']
url_abc = []
url = 'https://en.hispanosnba.com/players/nba-all/'
for a in abc:
    url_abc = url_abc + [url + a]
#now url_abc contain all url for list of players in order to a,b,c

In [417]:
#get the url of every player
url_players = [] 
url_start = 'https://en.hispanosnba.com'
for url in url_abc:
    requ_b = requests.get(url)
    soup_b = BeautifulSoup(requ_b.content , 'html.parser')
   
    table_b = soup_b.find('tbody')
    find_name = table_b.find_all('a')
    
    for name in find_name:
        name = str(name)
        name = name.split('"')
        url_players = url_players + [url_start + name[1] + '/stats']
#now url_players contain the url of all the players in the NBA

In [418]:
#get the players name
players_name = []
for url_name in url_abc:
    requ_name = requests.get(url_name)
    soup_name = BeautifulSoup(requ_name.content , 'html.parser')
    tbody = soup_name.find('tbody')
    a_name = tbody.find_all('a')
    for name in a_name:
        name = str(name)
        name = name.split('"')
        players_name = players_name + [name[3]]
#now players_name contain the names of all the players

In [420]:
#un_stats contain players index without stats
un_stats = []

player_stats_c = []
i = 0
for url_c in url_players:
    try:  
        requ_c = requests.get(url_c)
        soup_c =  BeautifulSoup(requ_c.content , 'html.parser')  
        total_table_c = soup_c.find('tfoot')
        tr_c = total_table_c.find('tr')
        tds_c = tr_c.find('td')
        tds_c = str(tds_c)
        tds_c = tds_c.split('<td>')
        tds_c[14] = tds_c[14][8:-9]
        tds_c[15] = tds_c[15][:-75]
        player_stats_c = player_stats_c + [tds_c]
    except: 
       # print('problem')
       # print(i)
        un_stats = un_stats + [i] 
        player_stats_c = player_stats_c + [None]
    i = i + 1

In [422]:
#dont run again!!!!!!    it is continue delate more data

un_stats.sort(reverse=True)
for index in un_stats:
    del(player_stats_c[index])
    del(players_name[index])
    del(url_players[index])

In [423]:
#generate a empty table
d_b= {'PLAYER_NAME':[] , 'TEAM':[] , 'GP':[] , 'GS':[] , 'MIN':[] , 'FG':[] , '3P':[] , 'FT':[] ,
     'REB':[] ,'AST':[] , 'STL':[] , 'TO':[] , 'BLK':[] , 'PF':[] , 'PTS':[] , 'EFF':[]}
df_b = pd.DataFrame(columns = d_b)
df_b

# 1) generate a small table with just one player for every player
# 2) using pd.concat for add the small table to the data frame

i = 0
for stats_c in player_stats_c:
    data_b = {'PLAYER_NAME':[players_name[i]], 'TEAM':[stats_c[1]], 'GP':[stats_c[2]], 'GS':[stats_c[3]], 'MIN':[stats_c[4]], 
            'FG':[stats_c[5]], '3P':[stats_c[6]], 'FT':[float(stats_c[7])], 'REB':[stats_c[8]], 'AST':[stats_c[9]], 'STL':[stats_c[10]], 
            'TO':[stats_c[11]], 'BLK':[stats_c[12]], 'PF':[stats_c[13]], 'PTS':[stats_c[14]], 'EFF':[stats_c[15]]}
    player_row_b = pd.DataFrame(data_b)
    i = i + 1
# 2) using pd.concat for add the small table to the data frame
    df_b = pd.concat([df_b , player_row_b])

In [424]:
#add the players name
df_b['PLAYER_NAME'] = players_name

#set the index to PLAYER NAME coulmn
df_b.set_index('PLAYER_NAME', inplace=True)

# data frame of all the players who played in the NBA

In [425]:
df_b

,TEAM,GP,GS,MIN,FG,3P,FT,REB,AST,STL,TO,BLK,PF,PTS,EFF
PLAYER_NAME,,,,,,,,,,,,,,,
Alaa Abdelnaby,,256,53,12.5,50.2,0.0,70.1,3.3,0.3,0.3,1.0,0.3,1.9,5.7,6.2
Zaid Abdul-Aziz,,505,0,21.8,42.8,--,72.8,8.0,1.2,0.6,0.9,1.0,2.2,9.0,13.5
Kareem Abdul-Jabbar,,1560,625,36.8,55.9,5.6,72.1,11.2,3.6,0.9,2.7,2.6,3.0,24.6,30.9
Mahmoud Abdul-Rauf,,586,336,26.7,44.2,35.4,90.5,1.9,3.5,0.8,1.6,0.1,1.9,14.6,11.5
Tariq Abdul-Wahad,,236,145,20.4,41.7,23.7,70.3,3.3,1.1,0.8,1.3,0.4,2.1,7.8,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ante Zizic,,113,27,13.4,58.1,0.0,71.1,3.9,0.6,0.2,0.7,0.4,1.5,6.0,8.1
Jim Zoet,,7,0,4.3,20.0,0.0,0.0,1.1,0.1,0.1,0.6,0.4,1.3,0.3,1.0
Bill Zopf,,53,0,7.5,36.3,--,55.6,0.9,1.4,--,--,--,0.6,2.2,2.5
Ivica Zubac,,336,203,18.6,59.7,10.0,75.6,6.3,1.1,0.3,1.0,0.8,2.2,8.1,12.8
Matt Zunic,,56,0,--,30.3,--,70.6,--,0.9,--,--,--,3.3,4.9,1.2

In [426]:
#generate more data
df_allstar = pd.read_html('https://en.hispanosnba.com/nba/history/awards-and-honors/all-star-game-selections')
df_month = pd.read_html('https://en.hispanosnba.com/nba/history/awards-and-honors/player-of-the-month')
df_teams = pd.read_html('https://en.hispanosnba.com/nba/history/awards-and-honors/all-nba-team-selections')
df_defense = pd.read_html('https://en.hispanosnba.com/nba/history/awards-and-honors/all-defensive-team-selections')

#edit the tables
df_allstar = df_allstar[0]
df_month = df_month[0]
df_teams = df_teams[0]
df_defense = df_defense[0]

#drop coulmns
df_allstar.drop('Seasons' , axis=1, inplace=True)
df_month.drop('Seasons' , axis=1, inplace=True)

#edit name of coulmns
df_allstar = df_allstar.rename({'Player':'PLAYER_NAME'}, axis=1) 
df_month = df_month.rename({'Player':'PLAYER_NAME'}, axis=1)
df_team = df_teams.rename({'Player':'PLAYER_NAME'}, axis=1)
df_defense = df_defense.rename({'Player':'PLAYER_NAME'}, axis=1)

#set index of data frams
df_allstar = df_allstar.set_index('PLAYER_NAME') 
df_month = df_month.set_index('PLAYER_NAME')
df_team = df_team.set_index('PLAYER_NAME') 
df_defense = df_defense.set_index('PLAYER_NAME')

In [433]:
df_allstar

                     All-Star Games
PLAYER_NAME
Kareem Abdul-Jabbar              19
Kobe Bryant                      18
LeBron James                     18
Tim Duncan                       15
Kevin Garnett                    15
...                             ...
Mo Williams                       1
Zion Williamson                   1
Kevin Willis                      1
Metta World Peace                 1
Max Zaslofsky                     1

[441 rows x 1 columns]

In [434]:
df_month

                  Awards
PLAYER_NAME
LeBron James          39
Kobe Bryant           17
Michael Jordan        16
Kevin Durant          15
Shaquille O'Neal      12
...                  ...
Hedo Turkoglu          1
Antoine Walker         1
Ben Wallace            1
Deron Williams         1
Freeman Williams       1

[114 rows x 1 columns]

In [435]:
df_team

                     First Team  Second Team  Third Team
PLAYER_NAME
LeBron James                 13            3           1
Kobe Bryant                  11            2           2
Karl Malone                  11            2           1
Kareem Abdul-Jabbar          10            5           0
Tim Duncan                   10            3           2
...                         ...          ...         ...
Karl-Anthony Towns            0            0           1
Kemba Walker                  0            0           1
John Wall                     0            0           1
Kevin Willis                  0            0           1
Metta World Peace             0            0           1

[249 rows x 3 columns]

In [436]:
df_defense

                  First Team  Second Team
PLAYER_NAME
Kobe Bryant                9            3
Kevin Garnett              9            3
Michael Jordan             9            0
Gary Payton                9            0
Tim Duncan                 8            7
...                      ...          ...
Danny Vranes               0            1
John Wall                  0            1
Scott Wedman               0            1
Hassan Whiteside           0            1
Micheal Williams           0            1

[165 rows x 2 columns]

In [440]:
#merge al the data frames
merged_df_a = pd.merge(df_allstar,df_month ,  how='outer', on='PLAYER_NAME')
merged_df_b = pd.merge(df_team , df_defense ,  how='outer', on='PLAYER_NAME')
merged_df_c = pd.merge(merged_df_a , merged_df_b ,  how='outer', on='PLAYER_NAME')

merged_df = pd.merge(df_b , merged_df_c , how='outer', on = 'PLAYER_NAME')

#edit name of the coulmns
merged_df = merged_df.rename({'All-Star Games':'A.S.G'} , axis=1)
merged_df = merged_df.rename({'Awards':'P.O.M'} , axis=1)
merged_df = merged_df.rename({'First Team_x':'F.T'} , axis=1)
merged_df = merged_df.rename({'Second Team_x':'S.T'} , axis=1)
merged_df = merged_df.rename({'Third Team':'T.T'} , axis=1)
merged_df = merged_df.rename({'First Team_y':'F.T.D'} , axis=1)
merged_df = merged_df.rename({'Second Team_y':'S.T.D'} , axis=1)

In [477]:
merged_df

,TEAM,GP,GS,MIN,FG,3P,FT,REB,AST,STL,...,PF,PTS,EFF,A.S.G,P.O.M,F.T,S.T,T.T,F.T.D,S.T.D
PLAYER_NAME,,,,,,,,,,,,,,,,,,,,,
Alaa Abdelnaby,,256,53,12.5,50.2,0.0,70.1,3.3,0.3,0.3,...,1.9,5.7,6.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zaid Abdul-Aziz,,505,0,21.8,42.8,--,72.8,8.0,1.2,0.6,...,2.2,9.0,13.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kareem Abdul-Jabbar,,1560,625,36.8,55.9,5.6,72.1,11.2,3.6,0.9,...,3.0,24.6,30.9,19.0,2.0,10.0,5.0,0.0,5.0,6.0
Mahmoud Abdul-Rauf,,586,336,26.7,44.2,35.4,90.5,1.9,3.5,0.8,...,1.9,14.6,11.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tariq Abdul-Wahad,,236,145,20.4,41.7,23.7,70.3,3.3,1.1,0.8,...,2.1,7.8,7.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ante Zizic,,113,27,13.4,58.1,0.0,71.1,3.9,0.6,0.2,...,1.5,6.0,8.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jim Zoet,,7,0,4.3,20.0,0.0,0.0,1.1,0.1,0.1,...,1.3,0.3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bill Zopf,,53,0,7.5,36.3,--,55.6,0.9,1.4,--,...,0.6,2.2,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ivica Zubac,,336,203,18.6,59.7,10.0,75.6,6.3,1.1,0.3,...,2.2,8.1,12.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Matt Zunic,,56,0,--,30.3,--,70.6,--,0.9,--,...,3.3,4.9,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [428]:
#get more stats about the players

data_e =[]
Retired = []

for url in url_players:
    try:
        url = url[:-6]
        requ_c = requests.get(url)
        soup_c = BeautifulSoup(requ_c.content , 'html.parser')
        data_c = soup_c.find('section'  , class_='blkjug block quad')
        data_c = str(data_c)
        data_c = data_c.split('>')
       
        #generate check if the player was Retired 
        data_d = soup_c.find('span' , class_='jugequ')
        data_d = str(data_d)
        data_d = data_d.split('s">')
        data_d = data_d[1][:-11]
        
        data_e = data_e + [[data_c[7].split('<')[0][1]] +  [data_c[12].split('<')[0][1]] + 
                           [data_c[17].split('<')[0][1]] + [data_c[22].split('<')[0][1]]]
        Retired = Retired + [data_d]
    except:
        data_e = data_e + [None]
        Retired = Retired + [None]

In [429]:
for i in range(len(Retired)):
    if Retired[i] == 'Retired' or Retired[i] == 'Hall of Fame member':
        Retired[i] = 1
    else:
        Retired[i] = 0

In [463]:
more_stats_d = {'PLAYER_NAME':[] , 'Seasons':[], 'Playoffs':[] , 'Finals':[] , 'titles':[] , 'Retired':[]}
more_stats = pd.DataFrame(more_stats_d)

un_stats_a = []
i = 0
for data in data_e:
    if data == None or Retired[i] == None:
        more_stats_d = {'PLAYER_NAME':[players_name[i]] , 'Seasons':[None], 'Playoffs':[None] , 'Finals':[None] , 'titles':[None] , 'Retired':[None]}
        un_stats_a = un_stats_a + [i]
    else:
        more_stats_d = {'PLAYER_NAME':[players_name[i]] , 'Seasons':[data[0]], 'Playoffs':[data[1]] , 'Finals':[data[2]] , 'titles':[data[3]] , 'Retired':[Retired[i]]}
    player_row_c = pd.DataFrame(more_stats_d , index = [i])
    more_stats = pd.concat([more_stats , player_row_c])
    i = i + 1
more_stats = more_stats.set_index('PLAYER_NAME')

In [479]:
#merge the data frames
more_stats = more_stats.drop(['PLAYER_NAME'], axis=1, inplace=True)
DF = pd.concat([merged_df , more_stats] , axis=1)

In [446]:
#edit the data frsmes
DF = DF.set_index('PLAYER_NAME')
DF = DF.drop(['TEAM'] , axis = 1)

In [480]:
DF

,TEAM,GP,GS,MIN,FG,3P,FT,REB,AST,STL,...,F.T,S.T,T.T,F.T.D,S.T.D,Seasons,Playoffs,Finals,titles,Retired
PLAYER_NAME,,,,,,,,,,,,,,,,,,,,,
Alaa Abdelnaby,,256,53,12.5,50.2,0.0,70.1,3.3,0.3,0.3,...,NaN,NaN,NaN,NaN,NaN,5,3,1,0,1.0
Zaid Abdul-Aziz,,505,0,21.8,42.8,--,72.8,8.0,1.2,0.6,...,NaN,NaN,NaN,NaN,NaN,1,3,0,0,1.0
Kareem Abdul-Jabbar,,1560,625,36.8,55.9,5.6,72.1,11.2,3.6,0.9,...,10.0,5.0,0.0,5.0,6.0,2,1,1,6,1.0
Mahmoud Abdul-Rauf,,586,336,26.7,44.2,35.4,90.5,1.9,3.5,0.8,...,NaN,NaN,NaN,NaN,NaN,9,2,0,0,1.0
Tariq Abdul-Wahad,,236,145,20.4,41.7,23.7,70.3,3.3,1.1,0.8,...,NaN,NaN,NaN,NaN,NaN,6,2,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ante Zizic,,113,27,13.4,58.1,0.0,71.1,3.9,0.6,0.2,...,NaN,NaN,NaN,NaN,NaN,3,1,1,0,0.0
Jim Zoet,,7,0,4.3,20.0,0.0,0.0,1.1,0.1,0.1,...,NaN,NaN,NaN,NaN,NaN,1,0,0,0,1.0
Bill Zopf,,53,0,7.5,36.3,--,55.6,0.9,1.4,--,...,NaN,NaN,NaN,NaN,NaN,1,0,0,0,1.0
Ivica Zubac,,336,203,18.6,59.7,10.0,75.6,6.3,1.1,0.3,...,NaN,NaN,NaN,NaN,NaN,5,3,0,0,0.0
Matt Zunic,,56,0,--,30.3,--,70.6,--,0.9,--,...,NaN,NaN,NaN,NaN,NaN,1,1,1,0,1.0

# merge the data of all the players and of the hall of fame players

In [481]:
DF = pd.merge(DF,df['H.O.F'] , how='outer' , on='PLAYER_NAME')

In [482]:
DF['H.O.F'] = DF['H.O.F'].fillna(0)

# all the data

In [483]:
DF

,TEAM,GP,GS,MIN,FG,3P,FT,REB,AST,STL,...,S.T,T.T,F.T.D,S.T.D,Seasons,Playoffs,Finals,titles,Retired,H.O.F
PLAYER_NAME,,,,,,,,,,,,,,,,,,,,,
Alaa Abdelnaby,,256,53,12.5,50.2,0.0,70.1,3.3,0.3,0.3,...,NaN,NaN,NaN,NaN,5,3,1,0,1.0,0.0
Zaid Abdul-Aziz,,505,0,21.8,42.8,--,72.8,8.0,1.2,0.6,...,NaN,NaN,NaN,NaN,1,3,0,0,1.0,0.0
Kareem Abdul-Jabbar,,1560,625,36.8,55.9,5.6,72.1,11.2,3.6,0.9,...,5.0,0.0,5.0,6.0,2,1,1,6,1.0,1.0
Mahmoud Abdul-Rauf,,586,336,26.7,44.2,35.4,90.5,1.9,3.5,0.8,...,NaN,NaN,NaN,NaN,9,2,0,0,1.0,0.0
Tariq Abdul-Wahad,,236,145,20.4,41.7,23.7,70.3,3.3,1.1,0.8,...,NaN,NaN,NaN,NaN,6,2,0,0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ante Zizic,,113,27,13.4,58.1,0.0,71.1,3.9,0.6,0.2,...,NaN,NaN,NaN,NaN,3,1,1,0,0.0,0.0
Jim Zoet,,7,0,4.3,20.0,0.0,0.0,1.1,0.1,0.1,...,NaN,NaN,NaN,NaN,1,0,0,0,1.0,0.0
Bill Zopf,,53,0,7.5,36.3,--,55.6,0.9,1.4,--,...,NaN,NaN,NaN,NaN,1,0,0,0,1.0,0.0
Ivica Zubac,,336,203,18.6,59.7,10.0,75.6,6.3,1.1,0.3,...,NaN,NaN,NaN,NaN,5,3,0,0,0.0,0.0
Matt Zunic,,56,0,--,30.3,--,70.6,--,0.9,--,...,NaN,NaN,NaN,NaN,1,1,1,0,1.0,0.0

In [485]:
#save the data prame
DF.to_csv(r'C:\Users\97253\NBA-Hall-Of-Fame\hall-of-fame-DF.csv')